/* Custom Navbar Styles */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
  color: #000;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: red;
  transition: width 0.3s ease;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #007bff;
}

.navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
  left: 0;
  background: red;
}
